<ion-view view-title="Main Menu">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="card" ng-show="serverErrors">
      <div class="item item-text-wrap" ng-repeat="serverError in serverErrors">
        {{serverError}}
      </div>
    </div>
    <div class="list">
      <a class="item item-icon-right" href="#/app/getting-started">
        <i class="icon ion-ios-arrow-right"></i>
        Getting Started
      </a>
      <a class="item item-icon-right" href="#/app/about-app">
        <i class="icon ion-ios-arrow-right"></i>
        About this app
      </a>

      <a class="item item-icon-right" href="#/app/news">
        <i class="icon ion-ios-arrow-right"></i>
        Latest News Nearby
      </a>

      <a class="item item-icon-right" href="#/app/blog">
        <i class="icon ion-ios-arrow-right"></i>
        Latest Blog Posts Nearby
      </a>

      <a class="item item-icon-right" href="#/app/rate">
        <i class="icon ion-ios-arrow-right"></i>
        Rate this app

      </a>

      <a class="item item-icon-right" href="#/app/share">
        <i class="icon ion-ios-arrow-right"></i>
        Share this app
      </a>

      <a class="item item-icon-right" href="#/privacy-policy">
        <i class="icon ion-ios-arrow-right"></i>
        Privacy Policy
      </a>

      <a class="item item-icon-right" href="#/term-of-use">
        <i class="icon ion-ios-arrow-right"></i>
        Term of use
      </a>

      <a class="item item-icon-right" href="#/support">
        <i class="icon ion-ios-arrow-right"></i>
        Support
      </a>
    </div>
  </ion-content>
</ion-view>
