<ion-view view-title="My Bookmarks">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-icon ion-more" ng-click="editProfile()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="card" ng-show="serverErrors">
      <div class="item item-text-wrap" ng-repeat="serverError in serverErrors">
        {{serverError}}
      </div>
    </div>
    <div class="list" ng-repeat="bookmark in bookmarks">
        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h2>{{bookmark.title}}Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>
    </div>
  </ion-content>
</ion-view>
