<ion-view view-title="Recent Activies">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-icon ion-more" ng-click="editProfile()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="list" ng-repeat="msg in messages">
      <div class="card">
        <div class="item item-divider">
          Subject of the message{{msg.subject}}
        </div>
        <div class="item item-text-wrap">
          Name of the person who sent the message.{{msg.sender}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
