<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>SLBizReviews</title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
<!--     <link href="css/style.css" rel="stylesheet"> -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- bower components -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/ngstorage/ngStorage.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-messages/angular-messages.min.js"></script>
    <script src="lib/jssha/src/sha1.js"></script>
    <!-- d7-services -->
    <script src="lib/ng-drupal-7-services/dist/ng-drupal-7-services.js"></script>

    <script src="lib/ng-cordova-oauth/dist/ng-cordova-oauth.min.js"></script>
    <!-- your app's js -->
    <script src="app/app.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/app.route.js"></script>
    <script src="app/controllers/app.controller.js"></script>
    <script src="app/services/services.js"></script>
    <script src="app/services/profile.service.js"></script>
    <script src="app/controllers/signup.controller.js"></script>

  </head>
  <body ng-app="SLBizReviews" controller="MainCtrl">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <!-- <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="showMenu()">Map</button>
      </ion-nav-buttons>
      <ion-nav-title class="logo">
        <img src="img/logo.png" title="adMISSION" />
      </ion-nav-title>
      <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="showMenu()">Filter</button>
      </ion-nav-buttons>
    </ion-nav-bar> -->

    <!-- <ion-nav-bar class="bar-positive" ng-if="isLogedin">
      <ion-nav-back-button>
        Back
      </ion-nav-back-button>
    </ion-nav-bar> -->
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
  </body>
</html>
