<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">
    <!-- Hidden Tabs start -->
  <ion-tab hidden="true" title="gettingStarted" href="#/app/getting-started">
    <ion-nav-view name="menu-gettingStarted"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="blog" href="#/app/blog">
    <ion-nav-view name="menu-blog"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="share" href="#/app/share">
    <ion-nav-view name="menu-share"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="rate" href="#/app/rate">
    <ion-nav-view name="menu-rate"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="news" href="#/app/news">
    <ion-nav-view name="menu-news"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="about" href="#/app/about-app">
    <ion-nav-view name="menu-about-app"></ion-nav-view>
  </ion-tab>


  <ion-tab hidden="true" title="Home" href="#/app/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="View Profile" href="#/app/view-profile">
    <ion-nav-view name="tab-viewProfile"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="Update Profile" href="#/app/update-profile">
    <ion-nav-view name="tab-updateProfile"></ion-nav-view>
  </ion-tab>

  <!-- Sub profile -->
  <ion-tab hidden="true" title="myReviewerProfile" href="#/app/myReviewers">
    <ion-nav-view name="menu-myReviewers"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="myBookMarks" href="#/app/my-myBookMarks">
    <ion-nav-view name="menu-myBookMarks"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="myMessages" href="#/app/myMessages">
    <ion-nav-view name="menu-myMessages"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="myFriends" href="#/app/myFriends">
    <ion-nav-view name="menu-myFriends"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="myFollowers" href="#/app/myFollowers">
    <ion-nav-view name="menu-myFollowers"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="myFollowings" href="#/app/myFollowings">
    <ion-nav-view name="menu-myFollowings"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="recentActivies" href="#/app/recentActivies">
    <ion-nav-view name="menu-recentActivies"></ion-nav-view>
  </ion-tab>

  <!-- Hidden Tabs end -->
  <ion-tab title="Nearby" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate-outline" href="#/app/nearby">
    <ion-nav-view name="tab-nearby"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/app/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Add Biz" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus-outline" href="#/app/addbusiness">
      <ion-nav-view name="tab-addbusiness"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="My Account" icon-off="ion-person" icon-on="ion-person" href="#/app/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  <!-- Account Tab -->
  <ion-tab title="Main Menu"  icon-off="ion-more" icon-on="ion-more" href="#/app/menu">
      <ion-nav-view name="tab-menu"></ion-nav-view>
  </ion-tab>

</ion-tabs>
