<ion-view view-title="Reset Password">
	<ion-header>
	  <ion-nav-bar class="bar-header bar-positive">
	    <ion-nav-back-button side="left">Back </ion-nav-back-button>
	  </ion-nav-bar>
	</ion-header>

	<ion-content class="padding reset-password">
	  <div class="row responsive-sm text-center">
        <div class="col">
			<div class="list material">
	          <label class="item item-input">
	            <input type="text" placeholder="Username or email-address" ng-model="forgotData.email" />
	          </label>
	 		</div>
	 		<button class="button-img" ng-click="emailPasswordClick()"><img src="assets/img/enter_round.png" alt="Enter" /></button>
	 	</div>
	 </div>
	</ion-content>
</ion-view>