<ion-view view-title="Sign Up with Google">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="padding google-login text-center">
    <div class="logo padding-t2x"><img src="assets/img/splash_logo.png"/></div>
    <div class="row responsive-sm">
      <div class="col">
        <p>Log into Google account to connect to SLBizR</p>
        <div class="card" ng-show="serverErrors">
          <div class="item item-text-wrap" ng-repeat="serverError in serverErrors">
            {{serverError}}
          </div>
        </div>
        <form name="loginForm" ng-submit="doFBLogin(loginForm)" novalidate>
          <div class="list material">
            <label class="item item-input">
              <input type="text" ng-model="user.username" placeholder="Email or Phone" ng-focus="scrollDown()" autocapitalize="off" required>
            </label>
            <label class="item item-input">
              <input type="password" ng-model="user.password" placeholder="Google Password" required>
            </label>
          </div>
          <button class="button button-block button-calm" type="submit">Log In</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>