<ion-view view-title="Sign Up">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="padding signup">
    <div class="card" ng-if="serverErrors.length">
      <div class="item item-text-wrap" ng-repeat="serverError in serverErrors">
        {{serverError}}
      </div>
    </div>

    <div class="row responsive-sm text-center">
      <div class="col col-divider-margin">
        <form name="signupForm" ng-submit="doSignup(signupForm)" novalidate>
          <div class="list material">
            <label class="item item-input">
              <input type="text" ng-model="user.name" placeholder="Username" ng-focus="scrollDown()" autocapitalize="off" required>
            </label>
            <label class="item item-input">
              <input type="password" ng-model="user.pass" placeholder="Password" required>
            </label>
            <label class="item item-input item-no-border">
              <input type="text" ng-model="user.field_user_nick_name.und[0].value" placeholder="Nick Name" ng-focus="scrollDown()" autocapitalize="off" >
            </label>
            <label class="item item-input item-no-border">
              <input type="email" ng-model="user.mail" placeholder="Email" ng-focus="scrollDown()" autocapitalize="off" required>
            </label>
            <label class="item item-input item-no-border">
              <input type="number" ng-model="user.field_mobile_user_telephone.und[0].value" placeholder="Phone Number" ng-focus="scrollDown()" >
            </label>
          </div>
    	  <button class="button-img" on-tap="doSignup(signupForm)"><img src="assets/img/signup_round.png" alt="Sign Up" /></button>
        </form>
      </div>
      <div class="col">
        <p class="dot-divider"><span>OR</span></p>
        <a class="button button-block button-calm" href='#/fblogin'>SIGN WITH FACEBOOK</a>
        <a class="button button-block button-calm" href='#/twitterlogin'>SIGN WITH TWITTER</a>
        <a class="button button-block button-calm" href='#/googlelogin'>SIGN WITH GOOGLE</a>
        <div class="legal">By signing up, you agree to the SLBizReviews <a href="#/term-of-use">Term of use</a> and <a href="#/privacy-policy">Privacy Policy</a></div>
      </div>
    </div>
  </ion-content>
</ion-view>
